:root {
  --bg:#f7f9fc;
  --card:#ffffff;
  --text:#222;
  --muted:#667085;

  --accent:#6366f1;
  --accent2:#ec4899;
  --accent3:#10b981;
}


body.dark {
  --bg:#0f1115;
  --card:#171a21;
  --text:#e8e8e8;
  --muted:#9aa0a6;
  --accent:#fff;
}

*{box-sizing:border-box}
body{
  margin:0;
  font-family:Inter,system-ui;
  background:var(--bg);
  color:var(--text);
  line-height:1.6;
}

/* NAV */
.nav{
  position:sticky; top:0;
  background:var(--card);
  display:flex;
  justify-content:space-between;
  padding:18px 8%;
  box-shadow:0 2px 10px rgba(0,0,0,.05);
  z-index:10;
}

.nav a{
  margin-left:22px;
  text-decoration:none;
  color:var(--text);
  font-size:14px;
}

.hero{
  background:linear-gradient(180deg,#eef2ff,#ffffff);
  border-radius:20px;
  margin:30px 6%;
  padding:60px;
}


.hero img{
  width:100%;
  border-radius:14px;
}

.btn{
  display:inline-block;
  background:linear-gradient(135deg,var(--accent),var(--accent2));
  color:white;
  padding:12px 18px;
  border-radius:10px;
  text-decoration:none;
  font-size:14px;
  transition:.25s;
}

.btn:hover{
  transform:translateY(-2px);
  opacity:.9;
}


/* CARDS */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:24px;
  padding:50px 8%;
}

.card{
  background:var(--card);
  padding:22px;
  border-radius:16px;
  transition:.25s;
  border:1px solid #eef2f7;
  position:relative;
}

.card::before{
  content:"";
  height:6px;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  border-radius:16px 16px 0 0;
  background:linear-gradient(90deg,var(--accent),var(--accent3));
}


.card:hover{
  transform:translateY(-6px);
}

.tag{
  font-size:12px;
  background:#e9ecef;
  padding:4px 10px;
  border-radius:999px;
  margin-right:6px;
}

/* POST */
.post{
  max-width:800px;
  margin:auto;
  padding:60px 8%;
}

.post h1{font-size:36px}
.post pre{
  background:#111;
  color:#fff;
  padding:16px;
  border-radius:10px;
  overflow:auto;
}

/* FOOTER */
.footer{
  padding:40px 8%;
  text-align:center;
  color:var(--muted);
}

/* MOBILE */
@media(max-width:768px){
  .hero{grid-template-columns:1fr}
}
